/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #222; 
}
html,body{
    height: 100%
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    /*background: #222;*/
}


#me_container{
    height:100%;
    /*background: #111;*/
    /*z-index: 600;/*/
    /*position: relative;*/

}
#enemyContainer{
    height:80%;
    /*position: relative;*/
    display: block;
}

.me_ship{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #fff;

    border-radius: 100%;
    transition: all .1s ease-out;
    position:absolute;
    /*box-shadow: inset 0 2px 3px 5px #eee;*/
    
    
}

.me_ship, .me_shot, .me_enemy{
    /*box-shadow: 45px 45px 3px 2px #eee;*/
}

.me_pause{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top:5px;
    left:5px;
    background:grey;    
}

.me_shot{
    display: block;
    width:3px;
    position: absolute;
    height:10px;
    background: orange;
    border-bottom: solid 1px red;
    /*border-bottom: none;*/
    border-radius: 25% 25% 3px 3px;
    box-shadow: 0px 5px 12px 5px rgba(255,255,125,0.5);
}
.me_shot.me_shot_exploding{
    width:30px;
    height:30px;
    margin-left:-15px;
    background: orange;
    border-radius: 100%;
    box-shadow: 0 0 5px red, inset 0px 0px 8px 2px yellow;;
    transition: all 1s ease-out;
}

.me_enemy{
    position: absolute;
    background: #fff;
    
    border-radius: 100%;
    
    text-align: center;

         


}

#scoreList{
    font-size: 9pt;
    display:block;
    width:100px;
    color:#fff;
    position: fixed;
    bottom: 30%;
    left:20px;
    color:#aaa;
}

.game_over #scoreList
{
    left: calc(50% - 150px);
    display:block;
    width:300px;
    color: #fff;
    font-size: 14pt;
    /*margin : 200px auto;*/
    transition: all 2s ease-out;
}

.me_enemy.me_enemy_exploding{
    background:orange;
    
    transform:scale(1.5,1.5);
    border-radius: 100%;

    opacity: 0.2;
    box-shadow: 0 0 15px 5px red, inset 0px 0px 8px 2px yellow;;
    transition: all 2s ease-in;


}

.controlContainer{
    background: #eee;
    height:60px;
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
}

#rightBtn{
    right:10px;
}
#leftBtn{
    left:10px;
}

.controlBtn{
    position: fixed;
    bottom:0;
    border-radius: 100% 100% 0 0;
    background: #333;
    width:50px;
    height:50px;
    color:#fff;
    text-align: center;
    line-height: 50px;
    -webkit-user-select:none;
    cursor: pointer;
}
.controlBtn.fireBtn{
    width: 100px;   
    border-radius: 25px 25px 0 0;
    left: calc(50% - 50px);
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
